@import url('https://fonts.googleapis.com/css2? famiglia= Roboto:wght@400;700 & display=swap');

#logo{
    text-align: center;
}
.navbar{
    background-color: rgba(206, 206, 113, 0.646) ;
}
.navbar p{
color:darkcyan;
text-align: center;
}

h1{
    text-align: center;
    font-size: 300%;
}
h1 + p{
    text-align: center;
}
figure{
    text-align: center;
}
#link{
    color: red;
}
